@import '../../styles/variables';

.root {
  margin-top: 85px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.titles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $color-dark;

  p {
    display: block;
    width: 145px;
    text-align: center;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    opacity: 0.6;
  }
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid $color-dark;

  p {
    display: block;
    width: 145px;
    text-align: center;
    margin: 20px auto;

    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }
}
